@import "../_main/constants";

.timetable-loader {
  height: 100%;
  width: 100%;

  &__subject, &__thead {
    width: 100%;
    background: linear-gradient(90deg, rgba($main-color, 0.03) 20%, rgba($main-color, 0.15) 50%, rgba($main-color, 0.05) 80%);
    background-size: 300% 300%;
    border-radius: 6px;
    animation: 10s rotate linear infinite;
  }

  &__subject {
    height: 35px;
  }

  &__thead {
    height: 15px;
  }
}

@keyframes rotate {
  from {
    background-position: 0;
  }
  50% {
    background-position: 100%;
  }
  to {
    background-position: 0;
  }
}