
.timetable-loader {
  height: 100%;
  width: 100%;

  &__subject {
    width: 100%;
    background: linear-gradient(90deg, #e7e7e7 20%, #a5a5a5 50%, #e7e7e7 80%);
    background-size: 300% 300%;
    border-radius: 6px;
    animation: 10s rotate linear infinite;
  }

  &__subject {
    height: 20px;
    margin: 4px 0;
  }

  @media (min-width: 650px) {
    &__subject {
      height: 30px;
      margin: 7px 0;
    }
  }
}

@keyframes rotate {
  from {
    background-position: 0;
  }
  50% {
    background-position: 100%;
  }
  to {
    background-position: 0;
  }
}
