
.header {
  display: block;
  position: relative;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

  .header__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;

    .header__nav {
      margin-left: auto;
      margin-right: auto;
    }
  }
}